<div class="article-footer-copyright">
    <div style="text-align:center">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
        <img alt="Creative Commons License" style="border-width:0"
        src="/image/copyright.png" />
        </a>
    </div>
    This work is licensed under a 
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
    Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License
    </a>.
    NonCommercial reprint please indicate the auther and source,
    Commercial reprint please contact the auther.
</div>
