.bottom-btn
  z-index 2
  position fixed
  _position absolute
  bottom 80px
  right 16px
  width 36px;

if tocaside
  .icon-toc-toggle
    width 40px
    height 40px
    cursor pointer
    border-radius 40px
    box-shadow 0 1px 3px rgba(0,0,0,.2)
    text-decoration none
    background-color #00c080
    background-color rgba(252,252,252,0.8)
    color #fff
    color rgba(0,192,128,0.7)
    line-height 40px
    font-size 22px
    text-align center
    display inline-block
    font-family FontAwesome
    font-style normal
    font-weight normal
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
  .icon-toc-toggle
    &:before
      content "\f00b"
  .icon-toc-toggle
    &:active
      background-color rgba(0,252,252,0.8)
  .icon-toc-toggle
    &:hover
      background-color rgba(192,252,252,0.8)
